<section class="slider">
  <div class="container">
    <h2 class="title cost costumer" id="costumer">What our costumer's say</h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            class="costumer-pic"
            src="../img/customers/ellipse_1.png"
            alt="young man"
            width="181"
            height="181"
          />
          <h3 class="slider-title costumer">Jon Doe</h3>
          <p class="slider-title-from">Company Inc.</p>
          <p class="slider-title-about">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="costumer-pic"
            src="../img/customers/ellipse_1.png"
            alt="young man"
            width="181"
            height="181"
          />
          <h3 class="slider-title costumer">Jon Doe</h3>
          <p class="slider-title-from">Company Inc.</p>
          <p class="slider-title-about">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="costumer-pic"
            src="../img/customers/ellipse_1.png"
            alt="young man"
            width="181"
            height="181"
          />
          <h3 class="slider-title costumer">Jon Doe</h3>
          <p class="slider-title-from">Company Inc.</p>
          <p class="slider-title-about">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium.
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="costumer-pic"
            src="../img/customers/ellipse_1.png"
            alt="young man"
            width="181"
            height="181"
          />
          <h3 class="slider-title costumer">Jon Doe</h3>
          <p class="slider-title-from">Company Inc.</p>
          <p class="slider-title-about">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
