<footer>
  <div class="container">
    <h2 class="footer-title" id="contact">CONTACT US</h2>
    <div class="footer-wrapp-box">
      <div class="footer-box">
        <form class="form-text footer-right-box">
          <input
            class="form-content"
            type="text"
            name="user-name"
            id=""
            placeholder="Name"
          />
          <input
            class="form-content"
            type="email"
            name="user-email"
            id=""
            placeholder="Email"
          />
          <textarea
            class="form-content-text"
            name=""
            id=""
            placeholder="Message"
          ></textarea>
          <button type="submit" class="footer-btn btn">SUBMIT</button>
        </form>
      </div>
      <div class="footer-left-box">
        <h3 class="footer-title-item">Get in touch with us</h3>
        <p class="footer-about">
          Nunc urna est, tristique et varius at, pharetra nec enim. Quisque
          rhoncus lacus fringilla nulla sollicitudin tristique.
        </p>
        <ul class="soc-box">
          <li class="soc-box-title">
            <a class="soc-box-wrap" href="">
              <svg width="20" height="20">
                <use href="../img/vector.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="soc-box-title">
            <a class="soc-box-wrap" href="">
              <svg width="20" height="20">
                <use href="../img/vector.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="soc-box-title">
            <a class="soc-box-wrap" href="">
              <svg width="20" height="20">
                <use href="../img/vector.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-contacts">
          <li class="contacts-list">
            <a class="link tel" href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a>
          </li>
          <li class="contacts-list">
            <a class="link mail" href="mailto:goIteens@gmail.com"
              >goIteens@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>

    <p class="footer-text">
      &#169; 2019 GoIteens Template. All Rights Reserved
    </p>
  </div>
</footer>
