<header class="header-overlay">
  <div class="container mobile-men">
    <nav class="navigation">
      <a class="logo link" href="index.html">Mobileapp</a>
      <ul class="header-menu">
        <li class="header-menu-title">
          <a class="link navigation-item" href="">HOME</a>
        </li>
        <li class="header-menu-title">
          <a href="#key" class="link navigation-item">FEATURES</a>
        </li>
        <li class="header-menu-title">
          <a href="#team" class="link navigation-item">TEAM</a>
        </li>
        <li class="header-menu-title">
          <a href="#costumer" class="link navigation-item">TESTIMONIALS</a>
        </li>
        <li class="header-menu-title">
          <a href="#contact" class="link navigation-item">CONTACT</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-btn js-open-menu">
      <svg class="mobile-btn-icon" width="24" height="14">
        <use href="./img/vector.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mobile-menu js-menu-container">
  <div class="menu-wrapper">
    <button type="button" class="mobile-close-btn js-close-menu">
      <svg class="mobile-btn-close" width="19" height="19">
        <use href="./img/vector.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mmb">
      <a class="logo mobile-menu-logo" href="#">Mobileapp</a>
      <ul class="mobile-menu-wrapp">
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#">HOME</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#key">FEATURES</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#team">TEAM</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#costumer">TESTIMONIALS</a>
        </li>
        <li class="mobile-menu-list">
          <a class="mobile-menu-link" href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
