<section class="section-hero container">
  <div class="decor-hero-background"></div>
  <div class="content-hero">
    <h1 class="title-hero">Introducing Mobileapp</h1>
    <p class="text-hero">Maecenas vitae tellus sapien. Prasent</p>
    <ul class="list list-hero">
      <div class="list-hero-item">
        <svg class="list-hero-icon" weight="7.2" height="12.6">
          <use href="./img/vector.svg#icon-menshe"></use>
        </svg>
        <li class="list-item">semper scelerisque tristique a enim</li>
      </div>
      <div class="list-hero-item">
        <svg class="list-hero-icon" weight="7.2" height="12.6">
          <use href="./img/vector.svg#icon-menshe"></use>
        </svg>
        <li class="list-item">Integer ut mattis nulla, eget vehicula elit</li>
      </div>
      <div class="list-hero-item">
        <svg class="list-hero-icon" weight="7.2" height="12.6">
          <use href="./img/vector.svg#icon-menshe"></use>
        </svg>
        <li class="list-item">Prasent rutrum ac nunc et</li>
      </div>
    </ul>
    <button type="button" class="btn">Download</button>
  </div>
  <div class="decor-hero-detals"></div>
  <div class="decor-hero-fone"></div>
</section>
