<section>
  <div class="box"></div>
  <div class="container features">
    <div class="titles">
      <h2 class="features-title title">key features</h2>
      <p class="features-text">
        Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
        neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
        Praesent luctus mi quis nisi interdum eleifend.
      </p>
    </div>
    <div class="features-columns">
      <ul class="features-list list">
        <li class="features-list-item">
          <h3 class="features-item-title">Amet varius</h3>
          <p class="features-item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Amet varius</h3>
          <p class="features-item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Amet varius</h3>
          <p class="features-item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
      </ul>
      <ul class="features-list list">
        <li class="features-list-item">
          <h3 class="features-item-title">Amet varius</h3>
          <p class="features-item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Amet varius</h3>
          <p class="features-item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Amet varius</h3>
          <p class="features-item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>