<section class="about">
  <div class="container">
    <h2 class="title key" id="key">KEY FEATURES</h2>
    <p class="about-subtitel">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <div class="about-box">
      <img
        class="about-pic"
        src="./img/key/frame.png"
        width="396"
        height="601"
        alt="man siting at the cheare"
      />
      <div class="line"></div>
      <ul class="link">
        <li class="key-text">
          <div class="tex"></div>
          <h3 class="text">Amet varius</h3>
          <p class="text-desc">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="key-text">
          <div class="tex"></div>
          <h3 class="text">Amet varius</h3>
          <p class="text-desc">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="key-text">
          <div class="tex"></div>
          <h3 class="text">Amet varius</h3>
          <p class="text-desc">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>

        <li class="key-text">
          <div class="tex"></div>
          <h3 class="text">Amet varius</h3>
          <p class="text-desc">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="key-text">
          <div class="tex"></div>
          <h3 class="text">Amet varius</h3>
          <p class="text-desc">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="key-text">
          <div class="tex"></div>
          <h3 class="text">Amet varius</h3>
          <p class="text-desc">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
