<section class="team">
  <div class="container team-wrapp">
    <h2 class="title our-team" id="team">OUR TEAM</h2>
    <p class="team-descr">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="team-box">
      <li class="card">
        <div class="overlay-wrapper">
          <img
            class="pic"
            src="./img/team/photo-1.jpg"
            width="296"
            height="299"
            alt=""
          />
          <p class="overlay">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit?
          </p>
        </div>

        <h3 class="name">Jon Doe</h3>
        <p class="name-item">Managing Direcor</p>
      </li>
      <li class="card">
        <div class="overlay-wrapper">
          <img
            class="pic"
            src="../img/team/photo-2.jpg"
            width="296"
            height="299"
            alt=""
          />
          <p class="overlay">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            quam doloribus iusto amet ipsum. Distinctio modi, aut repellendus
          </p>
        </div>

        <h3 class="name">Jane Doe</h3>
        <p class="name-item">Lead Designer</p>
      </li>
      <li class="card">
        <div class="overlay-wrapper">
          <img
            class="pic"
            src="./img/team/photo-3.jpg"
            width="296"
            height="299"
            alt=""
          />
          <p class="overlay">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit?
          </p>
        </div>

        <h3 class="name">Jane Doe</h3>
        <p class="name-item">Lead Developer</p>
      </li>
      <li class="card">
        <div class="overlay-wrapper">
          <img
            class="pic"
            src="./img/team/photo-4.jpg"
            width="296"
            height="299"
            alt=""
          />
          <p class="overlay">
            Lorem ipsum dolor sit amet consectetur adipisicing . Qui, velit?
          </p>
        </div>
        <h3 class="name">Jon Doe</h3>
        <p class="name-item">Sr. UI Designer</p>
      </li>
    </ul>
  </div>
</section>
