<section class="video">
  <div class="container video-container">
    <div class="video-box">
      <h2 class="title vid" id="video">WATCH THE VIDEO</h2>
      <p class="video-descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
        at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
        hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
      </p>
      <ul class="vector-box">
        <li class="vector-list">
          <a class="vector-icon" href="">
            <svg width="32" height="36">
              <use href="../img/vector.svg#icon-apple"></use>
            </svg>
          </a>
        </li>
        <li class="vector-list">
          <a class="vector-icon" href="">
            <svg width="32" height="36">
              <use href="../img/vector.svg#icon-android"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <img
      class="video-pic"
      src="../img/video/iphone.png"
      width="280"
      height="258"
      alt="phone"
    />
  </div>
</section>
