.section-hero {
  position: relative;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  padding-top: 146px;
  padding-bottom: 146px;
  background-color: var(--bg-color);
}

.title-hero {
  font-size: 40px;
  line-height: 1.2;
  color: var(--text-color);
}

.text-hero {
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-color);
  margin-top: 18px;
}

.list-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.list-hero {
  margin-top: 28px;
  margin-bottom: 60px;
}

.list-hero-item {
  display: flex;
  gap: 9px;
}

.list-hero-icon {
  display: flex;
  width: 8px;
  height: 13px;
}

.btn {
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  width: 200px;
  height: 42px;
  color: var(--text-color);
}

.list-hero-item:not(:last-child) {
  margin-bottom: 12px;
}

.decor-hero-detals {
  position: absolute;
  top: 129px;
  left: 339px;
  width: 541px;
  height: 418px;
  z-index: 2;
  background-image: url(../img/hero/decor.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.decor-hero-fone {
  position: absolute;
  top: 129px;
  left: 766px;
  width: 459px;
  height: 489px;
  z-index: 3;
  padding: 0;
  background-image: url(../img/hero/mobile.png);
  background-repeat: no-repeat;
  background-position: left top;
}
